<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.js"></script>

    <script src="app/js/primeiro-config.js"></script>
    <script src="app/js/controller/index-controller.js"></script>
</head>
<body ng-app="primeiro"><!--habilitando o angular-->
    <div ng-controller="IndexController"><!--tag e tab auto complete-->
        <!--{{nome}}--> <!--esta é uma variável que é setada dentro do controlador-->
        <!--posso tirar o chave chave  e usar o ng-bing assim o debug nao mostra o chave chave -->
        <span ng-bind="nome"></span><!-- este é executado muito mais rapido -->

        <input type="text" ng-model="nome"/>
        <!--isso aplica um bind two way (executar caminho em 2 vias)-->
        <!--se eu editar o input a variável fica referenciado como model e se muda automatico-->

        <button ng-click="testeFuncao()">Teste Click</button>
    </div>
<!--{{nome}} este não vai aparecer pois esta fora do controlador-->
</body>
</html>